.main {
  padding-bottom: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #1C1D20;
  position: relative;
  h1 {
    font-size: 100px;
  }
  .sliderContainer{
    position: absolute;
    top: calc(100vh - 350px);
    object-fit: cover;
    /* Ensure it takes full width of the viewport */
     /* Prevent content from overflowing */
  }
  .slider{
    position: relative;
    white-space: nowrap;
    display: flex;


  }
  .slider p{
   margin: 0px;
    font-size: 200px;
    font-weight: 100;
    color: gray;
  }
  .slider p:nth-of-type(2){
    position: absolute;
    left: 103%;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .position {
      p {
        font-size: 30px;
      }
      .icon {
        position: absolute;
        top: 25%;
        font-size: 30px;
      }
    }
  }

}

.landing1 {
  height: 100vh;
  background-color: orange;
  display: flex;
}

.landing2 {
  height: 100vh;
  background-color: black;
  display: flex;
}


@media (max-width: 768px) {
  .container {

    h1 {
      font-size: 10px;
    }
  }
  .sliderContainer{
    .slider p{
      margin: 0px;
      font-size: 200px;
      font-weight: 100;
      color: red;

    }
  }
}